.App {
  text-align: center;
}

.navBar {
  background-color: olive;
  color: white;
  height: 60px;
  width: 75%;
  margin: 20px;
  margin-left: 130px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

div.column{
  background-color: #784B12;
}

.footer {
  background-color: olive;
  height: 60px;
  width: 75%;
  margin: 20px;
  margin-left: 130px;

}

.form {
  margin: 25px;
  height: 25px;
  width: 200px;
}

.submit_button {
  border-radius: 20px;
}
